<%- include('layout/header') -%>
<div class="container">
    <div class="row vh-100 align-items-center">
        <div class="col-12 text-center">
            <h1>TypeWeb</h1>
            <h2>Structured Web Framework</h2>
        </div>
    </div>
</div>
<%- include('layout/footer') -%>
